h1{
    color:white;
    size: 0vmax;
    background-color: black;
    
}
h2{
    color:white;
    size: 0ch; 
    background-color: black;
}
h3{
    color:white;
    size: 0vmax;
    background-color: black;
}
h4{
    color:white;
    size: 0vmax;
    background-color: black;
}
h5{
    color:white;
    size: 0vmax;
    background-color: black;
}
h6{
    color:white;
    size: 0vmax;
    background-color: black;
}